<div class="catalogo-container">
  <h1 class="titulo">Vehículos disponibles</h1>
  @let autos = this.autos();

  @if (isLoading()){
    <p>Cargando autos...</p>
  }@else if (autos && autos.length > 0){
    <div class="card">
        @for (auto of autosConNombres(); track auto.idAuto){
          <div class="card-image">
            <img [src]="auto.imagen[0]" alt="auto.nombreModelo" />
          </div>
          <div class="card-content">
            <h3>{{auto.nombreModelo}}</h3>
            <p class="anio">Año: {{ auto.anio }}</p>
            <p class="precio">Precio: $ {{ auto.precio }}</p>
            <button class="detalle-btn" (click)="navigateToDetails(auto.idAuto!)">Ver Detalle</button>
          </div>
        }

    </div>
   }
</div>
