<div class="catalogo-container">

<div class = "filtros">
  <select class = "filtro_marcas" (change)="busquedaService.actualizarFiltros({ marca: $any($event.target).value })">
  <option value="">Todas las marcas</option>
  @for (marca of this.busquedaService.obtenerMarcasDisponibles(autosConNombres()!); track $index) {
    <option [value]="marca">{{marca}}</option>
  }
</select>

<select class = "filtro_km" (change)="busquedaService.actualizarFiltros({ kmMax: +$any($event.target).value })">
  <option value="">Sin límite</option>
  <option value="100000">Hasta 100.000 km</option>
  <option value="50000">Hasta 50.000 km</option>
</select>

@if(usuarioEnLinea() === null){
  <select class = "filtro_concesionaria" (change)="busquedaService.actualizarFiltros({ concesionaria: +$any($event.target).value })">
    <option value="">Todas las concesionarias</option>
    @for (concesionaria of this.busquedaService.obtenerConcesionariasDisponibles(autosConNombres()!); track $index) {
      <option [value]="concesionaria.id">{{concesionaria.nombre}}</option>
    }
  </select>
}
</div>

<div class = "ordenamiento">
  <select class = "select-ordenamiento" [value]="this.busquedaService.opcionesOrdenamiento()" (change)="this.busquedaService.opcionesOrdenamiento.set($any($event.target).value)">
    <option value="precioAsc">Precio - Menor a Mayor</option>
    <option value="precioDesc">Precio - Mayor a Menor</option>
    <option value="kmAsc">Kilómetraje - Menor a Mayor</option>
    <option value="kmDesc">Kilómetraje - Mayor a Menor</option>
    <option value="anioAsc">Año - Más Viejo a Más Nuevo</option>
    <option value="anioDesc">Año - Más Nuevo a Más Viejo</option>
    <option value="A - Z">A - Z</option>
    <option value="Z - A">Z - A</option>
  </select>
</div>



  <h1 class="titulo">Catálogo de Autos</h1>
  @let autos = this.autosFiltrados();

  @if (isLoading()){
    <p>Cargando autos...</p>
  }@else if (autos && autos.length > 0){
    <div class="card">
        @for (auto of autosFiltrados(); track auto.auto.id){
          <div class="card-image">
            <img [src]="auto.imagen[0] || 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fcheerful-illustration-red-cartoon-car-speeding-along-perfect-children-s-books-websites-any-project-needing-fun-image379073327&psig=AOvVaw0UZUVEQ6L_CAN7ljJveCzu&ust=1763710087116000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCMDloaaagJEDFQAAAAAdAAAAABAE'" alt="auto.nombreModelo" />
          </div>
          <div class="card-content">
            <h3>{{auto.marca.nombre}} {{auto.modelo.nombre}}</h3>
            <p class="anio">Año: {{ auto.anio }}</p>
            <p class="precio">Precio: u$s {{ auto.auto.precio }}</p>
            <button class="detalle-btn" [routerLink]="['/detalle', auto.auto.id]" routerLinkActive="active">Ver Detalle</button>
          </div>
        }

    </div>
   }
   @else {
    <h3>No hay autos en la lista</h3>
   }
</div>