/* Contenedor principal */
.login-container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    background: #940F27;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Título */
.login-container h2 {
    margin-bottom: 25px;
    font-size: 26px;
    color: #000000;
}

/* Inputs */
.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #c2c2c2;
    color: #000000;
    font-size: 15px;
    transition: 0.2s;
}

.login-container input:focus {
    background: #c2c2c2;
    box-shadow: 0 0 6px #00c3ff;
}

/* Botón */
.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #ffffff;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.login-container button:hover {
    background: #820E48;
}

/* Texto inferior */
.login-container p {
    margin-top: 20px;
    font-size: 14px;
}

.login-container a {
    color: #00c3ff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}