* {
  font-family: "Poppins", sans-serif;
}
.citas-container,
.citas-admin {
  max-width: 800px;
  margin: 30px 0 30px 20px;
  padding: 20px;
  background: #d6d3d3;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
}

/* UL LIMPIO */
.citas-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* TARJETA DE CADA CITA */
.cita-item {
  background: #2a2a2a;
  padding: 16px 20px;
  margin-bottom: 18px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: .2s;
}

/* Hover suave */
.cita-item:hover {
  transform: scale(1.01);
  background: #333;
}

/* Título */
.cita-item h3 {
  color: #ffffff;
  margin: 0 0 8px 0;
  font-size: 20px;
}

/* Texto */
.detalles-fechas,
.detalles-fechas-admin {
    font-size: 15px;
    color: #0f0f0f;
    margin-top: 6px;
    line-height: 1.5;
}


/* Botón eliminar */
button.eliminar-cita {
  background: #d9534f;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.eliminar:hover {
  opacity: .85;
  transform: scale(1.05);
}