<form [formGroup]="formAuto" (ngSubmit)="onSubmit()">
  @if(modoEdicion === false){
    <label>Marca</label>
    <select formControlName="idMarca" (change)="filtrarModelosPorMarca()">
      <option value="">Seleccione una marca</option>
      @for (marca of marcas(); track $index) {
          <option [value]="marca.id">{{ marca.nombre }}</option>
      }
    </select>
    @if(formAuto.get('idMarca')?.touched && formAuto.get('idMarca')?.errors?.['required']){
      <p>El campo marca no puede estar vacío</p>
    }
      <button type="button" (click)="abrirModalMarca()">Agregar nueva marca</button>


    <label>Modelo</label>
    <select formControlName="idModelo">
      <option value="">Seleccione un modelo</option>
      @for (modelo of modelosFiltrados(); track $index) {
          <option [value]="modelo.id">{{ modelo.nombre }} - {{modelo.anio}}</option>
      }
    </select>
    @if(formAuto.get('idModelo')?.touched && formAuto.get('idModelo')?.errors?.['required']){
      <p>El campo modelo no puede estar vacío</p>
    }
    <button type="button" [disabled]="!formAuto.get('idMarca')?.value" (click)="abrirModalModelo()">Agregar nuevo modelo</button>

    <label>Color</label>
    <select formControlName="color">
      <option value="Negro">Negro</option>
      <option value="Gris topo">topo</option>
      <option value="Verde musgo">musgo</option>
      <option value="Rojo">Rojo</option>
      <option value="Dorado">Dorado</option>
      <option value="Plateado">Plateado</option>
      <option value="Amarillo">Amarillo</option>
      <option value="Blanco">Blanco</option>
    </select>

    <label>Kilómetros</label>
    <input formControlName="kilometros" type="number">
    @if(formAuto.get('kilometros')?.touched){
      @if(formAuto.get('kilometros')?.errors?.['required']){
          <p>El campo kilometros no puede estar vacío</p>
      }
      @else if(formAuto.get('kilometros')?.errors?.['min']){
          <p>El kilometraje no puede ser menor a 0</p>
      }
    }

    <label>Imagen (URL)</label>
    <input formControlName="imagen" type="text">
}
  <label>Precio</label>
  <input formControlName="precio" type="number">
  @if(formAuto.get('precio')?.touched){
    @if(formAuto.get('precio')?.errors?.['required']){
        <p>El campo precio no puede estar vacío</p>
    }
    @else if(formAuto.get('precio')?.errors?.['min']){
        <p>El precio debe ser mayor a 0</p>
    }
  }

  <label>Disponible</label>
  <input formControlName="disponible" type="checkbox">

  <button type="submit" [disabled]="formAuto.invalid">Guardar Auto</button>
  <button type="reset">Limpiar</button>
  @if(modoEdicion){
    <button type="button" (click)="cancelarEdicion()">Cancelar</button>
  }

</form>

@if (mostrarModalMarca){
    <div class="modal">
        <div>
            <h3>Nueva Marca</h3>

            <label>Nombre</label>
            <input [(ngModel)]="nombreMarcaNueva" />

            <button (click)="crearMarca()">Guardar</button>
            <button (click)="cerrarModalMarca()">Cancelar</button>
        </div>
    </div>
}

@if (mostrarModalModelo){
    <div class="modal">
        <div>
            <h3>Nuevo Modelo</h3>

            <label>Nombre</label>
            <input [(ngModel)]="nuevoModeloNombre" type="text">

            <label>Año</label>
            <input [(ngModel)]="nuevoModeloAnio" type="number">

            <label>HP</label>
            <input [(ngModel)]="nuevoModeloHp" type="number">

            <label>Transmisión</label>
            <select [(ngModel)]="nuevoModeloTransmision">
                <option value="Manual">Manual</option>
                <option value="Automatica">Automática</option>
            </select>

            <label>Combustible</label>
            <select [(ngModel)]="nuevoModeloCombustible">
                <option value="Nafta">Nafta</option>
                <option value="Diesel">Diesel</option>
                <option value="GNC">GNC</option>
                <option value="Eléctrico">Eléctrico</option>
            </select>

            <button (click)="crearModelo()">Guardar</button>
            <button (click)="cerrarModalModelo()">Cancelar</button>
        </div>
    </div>
}
