.footer {
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 20px 0;

  background: rgba(0, 0, 0, 0.35);
  color: #ffffff96;
  text-align: center;

  backdrop-filter: blur(6px);

  font-size: 14px;
  z-index: 1000;
}