@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at center, #d4d1d1 0%, #d4d1d1 100%);
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

header {
  background: linear-gradient(90deg, #0d0d0d, #1a1a1a);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #333;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  color: #f80303e7;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

nav a:hover {
  color: #00b3ff;
}

/*  SECCIÓN DESTACADOS  */
.destacados {
  padding: 50px 20px;
  text-align: center;
}

.destacados h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  color: #353636;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.autos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
  max-width: 1200px;
  margin: auto;
}

/* TARJETAS DE AUTOS */ 
.auto {
  background: linear-gradient(145deg, #121212, #1b1b1b);
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 179, 255, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.auto:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 0 25px rgba(0, 179, 255, 0.3);
}

.auto img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  filter: brightness(0.9) contrast(1.1);
}

.auto h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 8px;
}

.auto p {
  font-size: 0.9rem;
  color: #bfbfbf;
  margin: 3px 0;
}

.auto .precio {
  color: #00b3ff;
  font-weight: bold;
  margin-top: 8px;
  font-size: 1rem;
}
 
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.85rem;
  background-color: #0d0d0d;
  color: #777;
  margin-top: 50px;
  border-top: 1px solid #222;
}
